body {
  width: 650px;
  padding-top: 40px;
  padding-left: 50px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.7px;
  color: #000;
  background-color: #EAD7D0;
}

@media screen and (max-width: 700px) {
  body {
    width: auto;
    padding-top: 0;
    padding-left: 0;
  }
}

li {
  margin-bottom: 5px;
  display: inline;
  margin-left: 10px;
}

a {
  color: #000;
  transition: color 1s ease;
}

a:hover {
  color: #030E2B;
}
